<!doctype html>
<html lang="es" ng-app="App">
<head>
	<meta charset="UTF-8" />
	<title>Asistecnic Multiservicios - {{$servicios[$smarty.get.template|default:index].title}}</title>

	<meta name="description" content="{{$servicios[$smarty.get.template|default:index].descripcion}}" />
	<meta name="keywords" content="{{$servicios[$smarty.get.template|default:index].keywords}}" />

	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/screen.css">
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
</head>
<body ng-controller="controladorPrincipal">

<header>
	<a href="/">
		<img id="logo" src="../assets/images/logo.jpg" alt="Asistecnic - multiservicios" />
	</a>
	<nav>
		{{foreach key = key item = item from = $menuheader}}
    		<a href="{{$item.link}}">{{$item.nombre}}</a>
  		{{/foreach}}
	</nav>
</header>

<div class="wrapper">