{{include file="header.html"}}

{{include file="telefonos.html"}}

<div class="bloque bloque-contenido">
	<h1>Servicio técnico Madrid, Toledo y poblaciones.</h1>

	<article>
		<p><strong>Asistecnic - Multiservicios</strong>: ofrecemos servicio de mantenimiento, reparación, y restauración tanto de electrodmésticos, equipos insdustriales, aparatología de rehabilitación.</p>
		<p>Ofrecemos servcios de urgencias las 24 horas, nuestro servicio es profesional y garantizado, nuestros precios son los más competitivos.</p>
	</article>

	{{include file="servicios.html"}}

</div>

{{include file="footer.html"}}