{{seo}}
{{include file="header.html"}}

<div class="bloque bloque-contenido">
	<article>
		<h1>{{$seo.title}}</h1>

		<p><strong>Asistecnic - Multiservicios</strong>: ofrecemos servicio de mantenimiento, reparación, y restauración tanto de electrodmésticos, equipos insdustriales, aparatología de rehabilitación.</p>
		<p>Ofrecemos servcios de urgencias las 24 horas, nuestro servicio es profesional y garantizado, nuestros precios son los más competitivos.</p>
		
		<input type="text" id="buscador" class="inputs-text" name="buscador" ng-change="buscar(abuscar)" ng-model="abuscar" placeholder="Busca tu servicio"/>
	</article> 
	{{include file="servicios.html"}}
</div>
<div class="bloque bloques-telefono">	
	{{include file="telefonos.html"}}
</div>

{{include file="footer.html"}}