{{include file="header.html"}}

<div class="bloque bloque-contenido quienes-somos">
	<article>
		<h1>Quienes somos</h1>
		
		<img src="../assets/images/tecnico.jpg" alt="Servicio técnico Madrid, Tolefo y poblaciones" title="Servicio técnico Madrid, Tolefo y poblaciones" />
		<p><strong>Asistecnic - Multiservicios</strong>: Es una empresa especializada en prestar servicio de reparaciones, mantenimiento en diversos campos técnicos de la vida cotidiana tanto en el hogar como en el trabajo.</p>
		<p>Nuestro servicios sumamente variados no permite brindar un servico único y exclusivo a todos nuestros clientes de la mejor forma posible con gente cualificada y devidamente entreda en su campo.</p>
		<p>Los técnicos de asistecnic, están dispuestos a dar un servico personalizado dependiendo del tipo de actividad a desarrollar, de una manera profesional y ŕapida para el cumplimiento de su tarea.</p>
		<p>Nuestro equipo brinda servicio a domicilio y servicio especializado las 24 horas los 7 días de la semana, nuestro servicio a domicilio esta siempre a su dispoción para su comodidad en donde nuestros técnicos evaluaran la reparación a ser posible realizarla en lugar mismo de la incidencia caso contrario procederán al traslado a nuestro taller centralizado para poder resolver su problema técnico.</p>
		<p>Una ves detectado el problema nuestros técnicos procederan a comunicarse con usted informandole detalladamente del proceso a realizar, del tiempo estimado en la reparación y de los recursos necesarios para llevar a cabo el trabajo también a modo de presupuesto el informe del coste del mismo.</p>
		<p>Dentro de nuestro servicios especializados disponemos de:</p>
		<ul>
			{{foreach key = key item = item from = $servicios}}
				{{if $item.img}}
					<li><a href="{{$item.link}}">* Servicio técnico <strong>{{$item.nombre}}</strong>.</a></li>
				{{/if}}
			{{/foreach}}
		</ul>
	</article>
</div>

{{include file="telefonos.html"}}

{{include file="footer.html"}}