$colorgris: #737272;
$colorazul: #005DFF;

*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

a{
	text-decoration: none;
	color: black;
}

strong{
	font-weight: bold;
}

h1{
	color: $colorazul;
	font-size: 1.5em;
	border-bottom: 1px dotted $colorazul;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

html, body{
	whidth: 100%;
	height: 100%;
	font-family: "Arial";
	color: black;
}

header{
	display: block;
	width: 100%;
	height: 80px;
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
	margin-bottom: 1em;
	a{
		float: left;
		display: block;
		width: 77px;
		height: 77px;
		img#logo{
			margin-left: 0.2em;
			width: 100%;
		}
		&:hover{
			color: $colorazul;
		}
	}
	nav{
		float: right;
		width: 70%;
		a{
			float: right;
			width: 150px;
			height: auto;
			text-align: center;
			font-size: 1.2em;
			color: $colorgris;
			padding: 0.3em;
			margin-top: 1.3em;
		}
	}
}

footer{
	clear: both;
	width: 100%;
	background: $colorazul;
	padding: 1em;
	color: white;
	a{
		color: white;
		font-weight: bold;
		text-decoration: underline;
	}
}

div.bloque{
	height: auto;
	float: left;
	padding: 0.5em;
	&.bloque-contenido{
		width: 70%;
		border-right: 1px dotted $colorgris;
		color: $colorgris;
		p{
			margin-bottom: 1em;
		}
	}
	&.bloques-telefono{
		width: 30%;
	}
}

div.bloque-contenido{
	a.servicio{
		display: block;
		float: left;
		width: 32%;
		height: 250px;
		margin: 0.2em;
		padding: 0.5em;
		box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
		margin-bottom: 1.5em;
		position: relative;
		text-align: center;
		h2{
			color: $colorazul;
			text-align: center;
			margin-bottom: 1em;
		}
		img{
			margin: auto;
			height: 50%;
		}
		article{
			margin-top: 1em;
			p{
				text-align: left;
				font-size: 0.8em;
			}
		}
		&.nomostrar{
			display: none;
		}
	}
	h1{
		font-size: 1em;
		font-weight: bold;
		background: $colorazul;
		color: white;
		padding: 1em;
		box-shadow: 0 4px 2px -2px $colorgris;
	}
	div#imgcontent{
		width: 100%;
		height: 300px;
		overflow: hidden;
		border-top: 2px solid $colorazul;
		border-bottom: 2px solid $colorazul; 
		img{
			width: 100%;
			-webkit-transform: translate(0%, -13%);
			-moz-transform: translate(0%, -13%);
			-ms-transform: translate(0%, -13%);
			-o-transform: translate(0%, -13%);
			transform: translate(0%, -13%);
		}
	}
	section{
		margin-top: 2em; 
		article p{
			text-align: justify;
		}
	}
	ul#link-poblaciones{
		margin: 2em 1em;
		li{
			margin-bottom: 0.3em;
			a{
				color: $colorazul;
			}
		}
	}
}

div.bloque-contenido.quienes-somos{
	img{
		float: left;
	}
	ul li{
		margin: 0.6em;
		margin-left: 2em;
		a{
			color: $colorazul;
		}
	}
}

ul.telefonos{
	width: 100%;
	li{
		width: 100%;
		padding: 0.5em;
		margin-bottom: 0.2em;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.3);
		-moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.3);
		box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.3);
		color: $colorgris;
		span{
			float: right;
			color: $colorazul;
			font-weight: bold;
		}
	}
}

.inputs-text{
	width: 100%;
	border: 1px solid $colorgris;
	padding: 1em;
	margin-top: 2em;
	margin-bottom: 5em;
	font-size: 1em;
	color: $colorazul;
	-moz-box-shadow: inset 0 0 10px 1px #c4c4c4;
	-webkit-box-shadow: inset 0 0 10px 1px #c4c4c4;
	box-shadow: inset 0 0 10px 1px #c4c4c4;
}